/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.page
  background-image: url('/page-background-image.jpg')
  background-size: 100%
  background-repeat: no-repeat

.no-sidebar
  background-image: url('/home-backgroud-image.png')
  background-size: 100%
  background-repeat: no-repeat
.theme-default-content
  background-color: rgba(255,255,255,0.8)